$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import '~vue-select/dist/vue-select.css';
@import './tooltips';
@import './cropper.css';

[v-cloak] {
	display: none;
}

.cursor-move{
	cursor: move;
}

button, a{
	[disabled], .disabled{
		cursor: not-allowed;
	}
}

#main-content {
	min-height: inherit;
}

/* This file is for your main application css. */
.col-login {
	max-width: 30rem;
}

.nounderline {
	text-decoration: none !important
}

.sv_container input[type=file].form-control[disabled] {
	display: none;
}

.card-footer {
	background: none !important;
}

.vue-tags-input {
	max-width: none !important;
	width: 100% !important;
}

.form-data-viewer .sv_container .form-control {
	&[disabled], &[readonly] {
		color: #393939;;
	}
}

.form-data-viewer .sv_p_title {
	margin-top: 1.5rem;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-size: larger;
	border-bottom: 1px solid #edf2f9;
}

#top-nav-search {
	.input-group-prepend span.fa-search {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-left: none;
	}

	input.search {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-right: none;

		&:focus {
			+ .input-group-prepend span.fa-search {
				border-color: #2c7be5;
			}
		}
	}
}

.modal {
	overflow: auto !important;
}

.btn-group-xs > .btn, .btn-xs {
	padding: .25rem .4rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}

.navbar-nav .nav-link > .fa {
	display: inline-block;
	min-width: 1.75rem;
}

.enable-bootstrap .modal-dialog {
	max-width: 700px !important;
}
